// Import Bootstrap's SCSS and override color variables using @use ... with
@use 'bootstrap/scss/bootstrap' with (
	$primary: #313daa,
	$secondary: #6c757d,
  $success: #28a745,
  $danger: #dc3545
);

/* Off canvas */
.offcanvas.offcanvas-end {
    width: 275px;
}

/* Logout button: visibility navbar and canvas*/
.logout-button-navbar {
    margin-left: 10px;
    display: inline-block;
}

.logout-button-canvas {
    margin-left: 0;
    display: none;
}

@media only screen and (max-width: 992px) {
	.logout-button-navbar {
			margin-left: 10px;
			display: none;
	}

	.logout-button-canvas {
			margin-left: 0;
			display: block;
	}
}

/* Auth Forms */
.auth-form {
	max-width: 400px;
	margin: 60px auto 0px auto;
}

.form-title {
	text-align: center;
	margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
	.form-title {
	font-size: 40px;
	margin-bottom: 20px;
	}
}

/* Login form */
.remember-me-forgot {
	display: flex;
	justify-content: space-between;
}

/* Register form */
.submit-login {
	display: flex;
	justify-content: space-between;
}

/* Alert close button  */
.alert-dismissible .btn-close  {
	width: 0.75em;
	height: 0.75em;
	padding: 1.50rem 1rem;
	font-size: 0.75rem;
}

/* Dashboard Alert */
.dashboard-alert {
	margin-top: 20px;
	max-width: 200px;
}