// Import Bootstrap's SCSS and override color variables using @use ... with
@use 'bootstrap/scss/bootstrap' with (
	$primary: #313daa,
	$secondary: #6c757d,
  $success: #28a745,
  $danger: #dc3545
);

/* Off canvas */
.offcanvas.offcanvas-end {
    width: 275px;
}

/* Logout button: visibility navbar and canvas*/
.logout-button-navbar {
    margin-left: 10px;
    display: inline-block;
}

.logout-button-canvas {
    margin-left: 0;
    display: none;
}

@media only screen and (max-width: 992px) {
	.logout-button-navbar {
			margin-left: 10px;
			display: none;
	}

	.logout-button-canvas {
			margin-left: 0;
			display: block;
	}
}

/* Auth Forms */
.auth-form {
	max-width: 400px;
	margin: 60px auto 0px auto;
}

.form-title {
	text-align: center;
	margin-bottom: 30px;
}

/* Login form */
.remember-me-forgot {
	display: flex;
	justify-content: space-between;
}

/* Register form */
.submit-login {
	display: flex;
	justify-content: space-between;
}

/* Alert close button  */
.alert-dismissible .btn-close  {
	width: 0.75em;
	height: 0.75em;
	padding: 1.50rem 1rem;
	font-size: 0.75rem;
}

/* Dashboard Alert */
.dashboard-alert {
	margin-top: 20px;
	max-width: 200px;
}

/* Email verification page */
.email-verification {
	max-width: 400px;
	margin: 60px auto 0px auto;
}

/* Admin dashboard sidebar */
li {
	list-style: none;
}

a {
	text-decoration: none;
}

.main {
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
}

#sidebar {
	max-width: 264px;
	min-width: 264px;
	transition: all 0.35s ease-in-out;
	background-color: #000;
	display: flex;
	flex-direction: column;
}

#sidebar.collapsed {
	margin-left: -264px;
}

.toggler-btn {
	background-color: transparent;
	cursor: pointer;
	border: 0;
}

.toggler-btn i {
	font-size: 1.2rem;
	color: #000;
}

.sidebar-nav {
	flex: 1 1 auto
}

.sidebar-logo {
	padding: 1.15rem 1.5rem;
	text-align: center;
}

.sidebar-logo a {
	color: #fff;
	font-weight: 800;
	font-size: 1.25rem;
}

.sidebar-header {
	color: #fff;
	font-size: .75rem;
	padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
	padding: .625rem 1.62rem;
	color: #fff;
	position: relative;
	transition: all 0.35s;
	display: block;
}

a.sidebar-link:hover {
	background-color: #f9f6f630;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
	border: solid;
	border-width: 0 .075rem 0.075rem 0;
	content: "";
	display: inline-block;
	padding: 2px;
	position: absolute;
	right: 1.5rem;
	top: 1.4rem;
	transform: rotate(-135deg);
	transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
	transform: rotate(45deg);
	transition: all .2s ease-out;
}

@media (max-width:768px) {
	.sidebar-toggle {
		margin-left: -264px;
	}

	#sidebar.collapsed {
		margin-left: 0;
	}
}

#mobileSidebar {
	background-color: #000;
	max-width: 264px;
	color: #fff;
}

#mobileSidebar
.btn-close i {
	color: #fff !important;
}

#mobileSidebar 
.offcanvas-header {
	padding-bottom: 0px;
}